{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">{{ .Title }}</h1>
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
    </div>
    {{- end }}
  </header>

  {{- with .Params.link }}
  <p><a href="{{ . }}" rel="noopener noreferrer" target="_blank">⬈ Ir al enlace: {{ . }}</a></p>
  {{- end }}

  {{- if .Content }}
  <div class="post-content md-content">
    {{- partial "anchored_headings.html" .Content -}}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
  </footer>
</article>

{{- end }}{{/* end main */}}
